* {
  margin: 0px;
}

.position{
  width: 100%;
  background-color: #2a2a2b;
  /* max-width: 741px; */
  color:white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
  padding-top: 70px;
  font-size: 50px;
  height: 600px;
  font-family: 'Courier New', Courier, monospace;
}

.linkedin-introduction {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
  /* background: #067471; */
  background: #AD2749;
  font-size: 20px;
  overflow-y: hidden;
}

.linkedin-introduction:hover {
  background: #ad3352;
}

.linkedin-introduction-button {
  /* width: 33%; */
  padding: 25px;
  color:white;
  text-decoration: none;
  cursor: pointer;
}

/*Maísa: fazer mexer*/
/* @keyframes imagem {
  from {
      top:-15px;
  }
  to {
      top: 25px;
  }
} */

.me {
  width: 200px;
  border-radius: 6px;
  /* animation: imagem 2.1s infinite alternate-reverse linear; */ /*Maísa: fazer mexer*/
}