* {
  margin: 0px;
  /* overflow-x: hidden;  */
}

html, body{
  overflow-x: hidden;
}

/* HEADER START */
header{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.header-container {
  width: 100%;
  background: rgba(196, 196, 196, 0.11);
  backdrop-filter: blur(10px);
  /* background-color: #AD2749; */
  position: fixed;
  overflow-x: hidden;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px rgba(255, 255, 255, 0.452);
  padding: 15px; 
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.menu-button {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16,5px;
  transition: ease-in-out 0.3s;
  padding: 8px;
  padding-right: 35px;
}

.menu-button:hover {
  color: #AD2749;
}

.header-rigth{
  width: 40px;
}
/* HEADER END */

/* FOOTER START */
footer {
  width: 100%;
  background-color: #2a2a2b;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.footer-links-icons {
  display: flex;
  gap: 25px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
/* FOOTER END */

/*media query*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  header{
    font-size: 18px;
  }

  .container{
    justify-content: center;
    padding-right: 40px;
  }

  .header-rigth{
    width: 25px;
  }

  footer{
    padding: 10px;
  }
  .footer-links-icons {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  header{
    font-size: 12px;
  }

  .container{
    justify-content: center;
    padding-right: 40px;
  }

  .header-rigth{
    width: 18px;
  }

  footer{
    font-size: 12px;
    padding: 10px;
  }
  .footer-links-icons {
    display: flex;
    gap: 15px;
    padding-right: 20px;
  }
}
